<html>
{{form_widget(form)}}
<!--<h1>Ajout d'un professeur </h1>
<p>Nom : <input type="text" name="nom"/> </p>
<p>Prénom : <input type="text" name="prenom"/> </p>
<button id="addProfesseur()">Valider</button>-->
</html>