<html>
<h1>Bonjour et bienvenue sur le nouveau projet Symfony 2 </h1>

<p><a href="../Professeur/add">Créer un professeur</a></p>
<p><a href="../Matiere/add">Ajouter une matière</a></p>
<p><a href="#">Affecter un professeur</a></p>
</html>
