<html>
<p></p>

<h1>Ajout d'une matière </h1>
<p>Libellé : <input type="text" name="libelle"/> </p>
<p>Description : <input type="text" name="description"/> </p>
<button id="addMatiere">Ajouter une matière</button>


</html>
